html,
body{
    margin: 0;
    padding: 0;
    min-width: 500px;
    overflow-x: hidden;
}
.fpage{
    background-image: url("Images/BackHeader.png");
    background-position: center top;
    background-repeat: no-repeat;
}
.loader {
  background: none repeat scroll 0 0 #ffef39;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
   }
.loader .loader_inner {
  background-image: url("Images/loader.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-posirion: center center;
  background-color: black;
  height: 600px;
  width: 800px;
  margin-top: -400px;
  margin-left: -400px;
  left: 50%;
  top: 50%;
  position: absolute;
   }
.animated{
  -vendor-animation-duration: 3s;
  -vendor-animation-delay: 2s;
  
}
/*Nav*/
#navbar-main{
    background-color:transparent;

}
.navbar{
    height: 90px;
    background-color: transparent;
    border: none;
    margin-bottom: 0;
}
.navbar span{
    font-family: Montserrat, sans-serif;
    color:  #ffffff;
    font-size: 30px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
}
.navbar-header{
    margin-top: 10px;
}
.navbar-header>button{
    background-color: transparent;
}
.navbar-collapse{
    float: right;
}
.navbar-collapse li{
    font-family: Montserrat, sans-serif;
    color:  #ffffff;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: center;
    padding:15px;
}
.navbar-nav a:hover{
    font-family: Montserrat, sans-serif;
    color:  #fce38a;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: center;
    border-bottom: 3px solid #fce38a;
    transition: all 0.1s;
}
.navbar-nav i:hover{
    color:  #fce38a;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: center;
    transition: all 0.1s;
}
/*End Nav*/

/*HeaderWrap*/
#headerwrap{
    text-align: center;
}
#headerwrap h3{
    font-family: KaushanScript, cursive;;
    color:  #ffffff;
    font-size: 72px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: center;
}
#headerwrap h1{
    font-family: Montserrat, sans-serif;
    color:  #ffffff;
    font-size: 105px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 140px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
}
#headerwrap hr{
    width: 60px;
    height: 3px;
    text-align: center;
    border-top: 3px solid #fff;
}
#headerwrap button{
    background-color: transparent;
    border: 3px solid #ffffff;
    padding: 12px 30px;
    font-family: Montserrat, sans-serif;
    color:  #ffffff;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
}
#headerwrap button>a{
    font-family: Montserrat, sans-serif;
    color:  #ffffff;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}
#headerwrap button:hover a{
    color:  #fce38a;
    transition: all 0.3s;
}
#headerwrap button:hover{
    border: 3px solid #fce38a;
    color:  #fce38a;
    transition: all 0.5s;
}
#headerwrap button:active{
    transform: scale(0.9);
}
#headerwrap button:focus{
    outline-color: #fff;
    outline-width: 0;
}
.aside{
    font-family: Montserrat, sans-serif;
    color:  #ffffff;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: left;
    float: left;
    padding: 15px;
}
/*End HeaderWrap*/

/* ALL MODALS */
  /*Basket*/
#Basket{
    background-image: -moz-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
}
#Basket input{
    margin-left: 15px;
}
.placesearch{
    min-height: 300px;
}
#Basket label{
    margin-left: 15px;
}
    /*/Basket*/

    /* Search */
    #Search{
    background-image: -moz-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
}
    #Search input{
     padding:2px 2px 2px 5px;
     margin: 10px;
 }
    #Search img{
     width: 50px;
     height: 50px;
 }
    /*End Search*/
/* END MODALS */

/*Sticky*/
#sticker{
    background-color: transparent;
    bottom: 5%;
}
.is-sticky #sticker {
    background-image: -moz-linear-gradient( 45deg, rgb(243, 129, 129) 0%, rgb(149, 225, 211) 100%);
    background-image: -webkit-linear-gradient( 45deg, rgb(243, 129, 129) 0%, rgb(149, 225, 211) 100%);
    background-image: -ms-linear-gradient( 45deg, rgb(243, 129, 129) 0%, rgb(149, 225, 211) 100%);
    text-align: left;
    width: 100%;!important;
    z-index: 1;!important;
    left: 0;
    bottom: auto;
    padding-left: 13%;
}
#sticker a:hover{
    color: #f2f2f2;
    text-decoration: none;
    transition: 0.3s;
}
#sticker a:focus{
    transition: 0.3s;
    text-decoration: none;
    color: #ccc;
}
/*End Sticky*/

/*WhiteWrap*/
.white{
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: white;
    text-align: center;
}
h5{
    font-family: KaushanScript, cursive;
    color:  #333333;
    font-size: 24px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: center;
}
 h4{
    font-family: Montserrat, sans-serif;
    color:  #333333;
    font-size: 30px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
hr.short{
    width: 60px;
    height:3px;
    border-top: 3px solid #f38181;
    text-align: center;
}
.white p.whgr{
    font-family: Roboto,sans-serif;
    color:  #999999;
    font-size: 15px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
}
.white img{
    margin:10% 5% 5% 5%;

}
/*Image Mask Intro*/
img.maskimg{
  margin: 0;!important;
}
.grid figure {
    width: 380px;
    height: 250px;
    margin:10% 5% 5% -5%;
    position: relative;
}

.grid figure img {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    text-align: center;
    background-image: -moz-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
}

.grid figcaption i {
    margin: 0;
    padding-top: 90px;
    padding-left: 175px;
    float: left;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
    opacity: 1.0;
}

.grid figcaption a {
    display: inline-block;
    margin-top: 130px;
    margin-left: -200px;
    background: #2f2f2f;
    color: #fff;
    font-size: 13px;
    opacity: 1.0;
}
/*END MASK Intro */
/*CAPTION STYLE Intro*/
.mask figure {
    overflow: hidden;
    text-align: center;
}
.mask figure:hover{
    box-shadow: 5px 5px 10px #95e1d3;
    transition: all 0.5s;
    margin-top: -10px;
}

.mask figure img {
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
    transform: translateX(0px) translateY(0px);
}

.no-touch .mask figure:hover img,
.mask figure.cs-hover img {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}

.mask figcaption {
    height: 250px;
    width: 380px;
    top: auto;
    bottom: 0;
    opacity: 0;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .mask figure:hover figcaption,
.mask figure.cs-hover figcaption {
    opacity: 0.9;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}

.mask figcaption a {
    background-color: transparent;
    border: none;
    font-family: Montserrat, sans-serif;
    color:  #ffffff;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
}
.mask figcaption a:hover,
.mask figcaption a:focus{
    background-color: transparent;
    outline-color: transparent;
    outline-width: 0;
    border: none;
}
/*END CAPTION STYLE Intro*/

/* Modal Intro*/
#Modallook,
#ModalModern,
#ModalDelivery{
    background-image: -moz-linear-gradient( 45deg, rgb(243, 129, 129) 0%, rgb(149, 225, 211) 100%);
    background-image: -webkit-linear-gradient( 45deg, rgb(243, 129, 129) 0%, rgb(149, 225, 211) 100%);
    background-image: -ms-linear-gradient( 45deg, rgb(243, 129, 129) 0%, rgb(149, 225, 211) 100%);
}
#Modallook,
#ModalDelivery,
#ModalModern{
    text-align: center;
}
#Modallook img,
#ModalDelivery img,
#ModalModern img{
    margin-left: 17%;
    margin-top: 45px;
}
/* End Modal Intro */

/* End WhiteWrap */

/*Section-divider */
.divider1 .container-fluid {
    background-color: #95e1d3;
    height: 270px;
}
.divider1 .row{
    text-align: center;
}
.bor{
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    text-transform:uppercase;
    padding: 80px 35px;
    max-height: 270px;
}
.borright{
    border-right: 2px solid lightgray;
    padding: 80px 35px 100px 35px;
    max-height: 270px;
    text-transform: uppercase;
    border-left: 1px solid lightgray;
}
.divider1 .number{
    font-family: Montserrat, sans-serif;
    color:  #ffffff;
    font-size: 72px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
}
.divider1 .string{
    font-family: Montserrat, sans-serif;
    color:  #ffffff;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: center;
}
/*End Section*/

/*WhiteWrap2*/
.white h6{
    font-family: Montserrat, sans-serif;
    color:  #333333;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
}
.white p.sertext{
    font-family: Roboto,sans-serif;
    color:  #999999;
    font-size: 15px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
}
.sercatalog i{
    color:  #95e1d3;
    float: right;
}
.longline{
    width: 100%;
    border-top: 1px solid #eee;
}
/*End WhiteWrap2*/

/* Mountain Wrap */
.mountain{
    background-image: url("Images/Design/Mountain.png");
    text-align: center;
}
/* End MountainWrap */
/* Phone */
.phone{
    position: relative;
    margin-top: -405px;
    margin-bottom: -60px;

}
/*Accordeon Wrap*/
.accordeoni{
    margin-top: 5%;
    margin-bottom: 5%;
}
.glassmen{

    border: 3px solid transparent;
}
.glassmen:hover{
    border: 3px solid #95e1d3;
    transition: all 0.8s;
}
.kordik{
    margin-top: 4%;
    text-align: left;
}
.kordik i{
    color: #95e1d3;
}
.kordik a:hover,
.kordik a:active,
.kordik a:focus{
    text-decoration: none;!important;
}
.panel-title{
    text-transform: uppercase;
}
.panel-title i{
    margin-right: 15px;
}

/* End Accordeon Wrap*/

/*Section Divider 2 carousel*/
.greyf {
    background-color: #f8f8f8;
    height: 290px;
}
#foo .iconka{
    margin-top:10%;
}

p.slidertext{
    margin-top: 5%;
    font-family: Roboto, sans-serif;
    color:  #999999;
    font-size: 24px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    font-style: italic;
    line-height: 31px;/* Приближение из-за подстановки шрифтов */
    text-align: left;

}
p.slidertext-xs{
    margin-top: 5%;
    font-family: Roboto, sans-serif;
    color:  #999999;
    font-size: 15px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    font-style: italic;
    line-height: 25px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
}
h5.nameCom{
    font-family: KaushanScript, cursive;
    color:  #333333;
    font-size: 24px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: left;
    float: left;
}
h5.nameCom-xs{
    font-family: KaushanScript, cursive;
    color:  #333333;
    font-size: 15px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: left;
    float: left;
}
hr.defis{
    color:  #f38181;
    width: 60px;
    height: 3px;
    float: left;
    margin-right: 15px;
    border-top: 3px solid #f38181 ;
}
hr.defis-xs{
    color:  #f38181;
    width: 45px;
    float: left;
    margin-right: 15px;
    border-top: 1px solid #f38181;
}
.carousel{
    background-color: transparent; !important;
}
.carousel-inner>.item{
    height: 290px;
}
.iconcarousel{
    text-align: center;
    margin-top: 3%;
    margin-right: 3%;
}
.textcarousel{
    float: left;
}
span.fa-stack{
    color: #95e1d3;
}

/* End WhiteWrap3 Carousel */

/*WhiteWrap4 */

/*Image Mask Team*/
img.maskimg{
    margin: 0;!important;
}
.gridteam figure {
    width: 380px;
    height: 470px;
    margin:10% 5% 5% -5%;
    position: relative;
}

.gridteam figure img {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.gridteam figcaption {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    text-align: center;
    background-image: -moz-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
}
.linksoc{
    margin-top: 50%;
    margin-left: 23%;
}
.linksoc span{
    background-color: #fce38a;
    padding: 4% 6%;
    float: left;
    border-left: 1px solid #f38181;
}
.linksoc i{
    color: #f38181;
}
.linksoc span:hover{
    background-color: #f38181;
    transition: all 0.4s;
}
.linksoc span:hover  i{
    color: #fff;
}

/*END MASK Team */

/*CAPTION STYLE Team*/
.mask1 figure {
    overflow: hidden;
    text-align: center;
}
.mask1 figure:hover{
    box-shadow: 5px 5px 10px #95e1d3;
    transition: all 0.5s;
    margin-top: -10px;
}

.mask1 figure img {
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
    transform: translateX(0px) translateY(0px);
}

.no-touch .mask1 figure:hover img,
.mask1 figure.cs-hover img {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}

.mask1 figcaption {
    height: 470px;
    width: 380px;
    top: auto;
    bottom: 0;
    opacity: 0;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .mask1 figure:hover figcaption,
.mask1 figure.cs-hover figcaption {
    opacity: 0.9;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}

.mask1 figcaption a {
    background-color: transparent;
    border: none;
    font-family: Montserrat, sans-serif;
    color:  #ffffff;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
}
.mask1 figcaption a:hover,
.mask1 figcaption a:focus{
    background-color: transparent;
    outline-color: transparent;
    outline-width: 0;
    border: none;
}
/*END CAPTION STYLE Team*/
h6.nameteam{
    text-align: center;
}
.team img:hover{
    margin-top: -1%;
    box-shadow: 5px 5px 10px #95e1d3;
    transition: all 0.5s;
}
.team{
    margin-bottom: 5%;
}
/*End WhiteWrap4*/

/*Logos */
.greylogo{
    background-color: #f8f8f8;

}
.loho{
    margin-top: 5%;
    margin-bottom: 5%;
}

/*End Logos*/

/*Gallery*/

.gallery img{
    float: left;
}
.nopad{
    padding: 0;!important;
}
/*End Gallery */

/* MountainWrap2 Comments*/
  .mount{
      background-image: url("Images/Design/Mountain.png");

  }
  .moun{
      margin-top: 5%;
      margin-bottom: 5%;
  }
  h6.Client{
      font-family: Montserrat, sans-serif;
      color:  #333333;
      font-size: 14px;/* Приближение из-за подстановки шрифтов */
      font-weight: 400;
      text-align: left;
      text-transform: uppercase;
  }
  .mount i{
      font-family: Roboto,sans-serif;
      color:  #333333;
      font-size: 15px;/* Приближение из-за подстановки шрифтов */
      font-weight: 300;
      line-height: 24px;/* Приближение из-за подстановки шрифтов */
      text-align: left;
  }
  hr.shortl{
      width: 60px;
      height:3px;
      color: #f38181;
      margin-left: 0;
      border-top: 3px solid #f38181;
  }
  .mount p.sertext{
      font-family: Roboto,sans-serif;
      color:  #999999;
      font-size: 15px;/* Приближение из-за подстановки шрифтов */
      font-weight: 400;
      line-height: 24px;/* Приближение из-за подстановки шрифтов */
      text-align: left;
}
  /*End MountainWrap2 */

  /*WhiteWrap6 Blogs */

   .pic1{
       z-index: 2;
   }
  .dateblog{
      background-color: #95e1d3;
      font-family: Roboto, sans-serif;
      color:  #ffffff;
      font-size: 15px;/* Приближение из-за подстановки шрифтов */
      font-weight: 300;
      text-align: center;
      padding: 0;
      margin-left: -1%;
      margin-top: -25%;
  }
  .dateblog b{
      font-family: Montserrat, sans-serif;
      color:  #ffffff;
      font-size: 30px;/* Приближение из-за подстановки шрифтов */
      font-weight: 700;
      text-align: center;
  }
  .blog1 span{
      color: #95e1d3;
      float: left;
      margin-left: 5%;
  }
  .blog1 a.comments{
      margin-left: 5px;
      text-decoration: none;
      font-family: Roboto,sans-serif;
      color:  #999999;
      font-size: 15px;/* Приближение из-за подстановки шрифтов */
      font-weight: 300;
      font-style: italic;
      line-height: 24px;/* Приближение из-за подстановки шрифтов */
      text-align: left;
  }
  .blog1 a.comments:hover{
      color: #95e1d3;
      text-decoration: underline;
      transition: 0.2s;
  }
/* End WHiteWrap 6 */

 /* Section Divider3 Maps */

 .map{
     background-image: url("Images/map.png");
     text-align: center;
 }
 .map>i{
     color:  #f38181;
 }
 .redmark a{
     font-family: Montserrat, sans-serif;
     color:  #f38181;
     font-size: 24px;/* Приближение из-за подстановки шрифтов */
     font-weight: 700;
     text-align: center;
     text-transform: uppercase;
     text-decoration: none;
 }
.map a:hover{
    color: red;
    transition: all 0.3s;
}
 /*End Section Divider3 */

/*Last Wrap*/
.footer{
    background-color: #f8f8f8;
}
.footer>.container{
    margin-top: 5% ;
}
.footer a.brand{
    float: left;
    padding:0 10px 10px 10px;
}
.footer a.brand:hover{
    opacity: 0.8;
    transition: all 0.4s;
}
.fol{
    float: left;
}
.footer .fa{
    color: #95e1d3;
}
.footer .fa:hover{
    color: #f38181;
    transition: all 0.5s;
}
.footer h2 {
    font-family: Montserrat,sans-serif;
    color: #cccccc;
    font-size: 46px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
}
.footer p.sertext{
    font-family: Roboto, sans-serif;
    color:  #999999;
    font-size: 15px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin: 10% 0;
}
.footer h6{
    font-family: Montserrat, sans-serif;
    color:  #333333;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
}
.footer button{
    float: right;
    background-color:  #95e1d3;
    padding: 2% 4%;
    font-family: Montserrat,sans-serif;
    color:  #ffffff;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
    border-color:  #95e1d3;
}
.footer button:focus{
    outline-width: 0;
}
.footer form{
    float: left;
    margin-top: 3%;
    margin-bottom: 3%;
}
.footer input{
    padding: 2% 1%;
}
.footer input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
.footer input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
.footer input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
.footer input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
.footer input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.footer input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
.footer input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
.footer input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.footer input:focus{
    color: dodgerblue;
}
.blogs .blogpic{
 padding-left: 0;
}
.bloglinkfooter{
    padding: 0;!important;
    text-decoration: none;
}
.bloglinkfooter:hover{
    text-shadow: 1px 1px #ccc;
    text-decoration: none;
    transition: 0.5s;
}
.blogpic h6{
    font-family: Montserrat,sans-serif;
    color:  #333333;
    font-size: 12px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 18px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-bottom: 0;
}
.blogpic i{
    font-family: Roboto,sans-serif;
    color:  #999999;
    font-size: 13px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    font-style: italic;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
}
.fancybox-thumbs{
    padding: 1px;
}
.mar{
    margin-top: 5%;
}
.instagram{
    margin-top: 1%;
}
.insta a{
    float: left;
}
.link-insta{
    margin-top: 2%;
    padding-left: 0;
    text-decoration: none;
    text-align: left;
    font-family: Roboto,sans-serif;
    color:  #333333;
    font-size: 13px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    font-style: italic;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */

}
footer{
    font-family: Montserrat,sans-serif;
    color:  #333333;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: center;
}
footer b{
    font-family: Montserrat,sans-serif;
    color:  #f38181;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    text-align: center;

}
/* End Footer */
::selection {
    color: #a4003a;
}
/*Back to TOP BUTTON*/
.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    background-color: #f38181;
    color: #eeeeee;
    width: 50px;
    height: 48px;
    line-height: 48px;
    right: 30px;
    bottom: 30px;
    padding-top: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
    background-color: #95e1d3;
    color: black;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 1.0;
}
.scroll-top-wrapper i.fa {
    line-height: inherit;
}

/* END BACK TO TOP*/


/*MEDIA */
@media screen and (min-width: 1200px){
    .mask1{
        transform: scale(0.9);
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px){
    .mask1{
        transform: scale(0.8);

    }
    figure{
        margin: 10% 5% 5% 5%;
    }
    .mask{
        transform: scale(0.83);
    }
}
@media screen and (min-width: 992px) and (max-width: 1500px) {
    .dateblog .col-md-10,
    .dateblog .col-md-6{
        padding-right: 0;
    }
    .dateblog .col-md-6{
        padding-left: 25px ;
    }

}
@media screen and (min-width: 770px) and (max-width: 1500px){

}
@media screen and (min-width: 770px) and (max-width: 1200px) {
    .formsub button{
        float: left;
        margin-top: 10px;
    }
    #about .col
}
@media screen and (min-width:770px) and (max-width:992px){
      .phone{
          margin-top: -225px;
          margin-left: 25%;
      }
    .bor{
         padding-left: 15px;
     }
    .borright{
        padding-left: 15px;
    }
    .divider1 .number{
        font-family: Montserrat, sans-serif;
        color:  #ffffff;
        font-size: 50px;/* Приближение из-за подстановки шрифтов */
        font-weight: 700;
        text-align: center;
    }
    .divider1 .string{
        font-family: Montserrat, sans-serif;
        color:  #ffffff;
        font-size: 14px;/* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        text-align: center;
    }
    .formsub a.brand{
       padding: 0 3px 10px 3px;
    }
    .mask{
        transform: scale(0.62);
    }
    .mask1{
        transform: scale(0.85);

    }

}
@media screen and (max-width:769px) {
    .navbar{
        position: fixed;
        top:0;
        background-image: -moz-linear-gradient( 45deg, rgb(243, 129, 129) 0%, rgb(149, 225, 211) 100%);
        background-image: -webkit-linear-gradient( 45deg, rgb(243, 129, 129) 0%, rgb(149, 225, 211) 100%);
        background-image: -ms-linear-gradient( 45deg, rgb(243, 129, 129) 0%, rgb(149, 225, 211) 100%);
        width: 100%;
        height: auto;
        right: 0;
    }
    .navbar-collapse{
        width: 100%;
    }
    .navbar-collapse li{
        font-family: Montserrat, sans-serif;
        color:  #ffffff;
        font-size: 14px;/* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        padding:10px;

    }
    .navbar-header{
        margin-top: 0;
    }
    .navbar-header button{
        background-color: #95e1d3;
        border: 2px solid black;
    }
    .navbar-header span{
        color: floralwhite;
    }
    #Modallook img,
    #ModalDelivery img,
    #ModalModern img{
        margin-left: 5%;
        margin-top: 45px;
    }
    .bor{
        padding-left: 19px;
        padding-top: 35px;
        padding-bottom: 35px;
        height: 150px;

    }
    .borright{
        padding-left: 19px;
        padding-top: 35px;
        padding-bottom: 35px;
        height: 150px;
    }
    .divider1 .number{
        font-family: Montserrat, sans-serif;
        color:  #ffffff;
        font-size: 27px;/* Приближение из-за подстановки шрифтов */
        font-weight: 700;
        text-align: center;
    }
    .divider1 .string{
        font-family: Montserrat, sans-serif;
        color:  #ffffff;
        font-size: 10px;/* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        text-align: center;
    }
    .divider1 .container-fluid {
        background-color: #95e1d3;
        height: 150px;
    }
    .phone{
        visibility: hidden;
    }
    #headerwrap{
        margin-top: 80px;
    }
    #headerwrap h1 {
        font-size: 80px;
    }
    #headerwrap p {
        font-size: 30px;
        line-height: 38px;
    }
    .mask1{
        transform: scale(0.8);

    }
    .moun .Client{
        text-align: center;
    }
    .moun p.sertext{
        text-align: center;
    }
    .moun .shortl{
        text-align: center;
        margin-left: auto;

    }
    #Service p.sertext{
        font-size: 12px;
    }
    #Service .col-xs-10{
        height: 93px;
        margin-top: 10px;
        margin-bottom: 25px;
    }
    .team h6.nameteam{
        padding-left: auto;
    }
    .team p.whgr{
        padding-left: auto;
    }
     .centered{
         text-align: center;!important;
     }
     .formsub button,
     .formsub input{
         float:left;
     }
     .formsub button{
         margin-left: 5px;
     }
    .scroll-top-wrapper {
        right: 10px;
        transform: scale(0.9);
    }
}
@media screen and (min-width: 660px ) and (max-width: 769px){
    .tablet{
        margin-left: 8%;
    }
}
@media screen and (max-width: 565px){
    .bor{
        padding-left: 5px;
    }
    .borright{
        padding-left: 4px;
    }
}